<div class="flex-grow-1"></div>
<div id="footerwrap" class="tuna-foot">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 {% if page.legacy %}col-4{% else %}col-12{% endif %}">
        <p class="thuhidden">本站{% if site.operator %}由{{ site.operator }}提供技术支持，{% endif %}并由--sora--运行维护。</p>
        <p class="thuhidden">本站采用清华大学 TUNA 镜像站网页搭建。</p>
        <p>本站相关源码可在 <a href="https://github.com/tuna/tunasync"><em>这里(镜像管理器)</em></a> 和 <a href="https://github.com/tuna/mirror-web"><em>这里(镜像站网页)</em></a> 获取。</p>
        <p class="thuhidden">根据相关法律法规，本站不对欧盟用户提供服务。</p>
        {% if site.footnote %}
        <p class="thuhidden">{{ site.footnote }}</p>
        {% endif %}
      </div>
      <div class="col-lg-4 {% if page.legacy %}col-4{% else %}col-12{% endif %}">
        <h4 class="mt-0">Contact Us</h4>
        <div class="thuhidden">
          <ul class="social">
            <li>
            <a href="https://groups.google.com/forum/#!forum/tuna-general">{% fa_svg fas.fa-envelope %} Email</a>
            </li>
            <li>
            <a href="https://pd.qq.com/s/4qi68oyhi">{% fa_svg fas.fa-q %} #QQ频道</a>
            </li>
            <li>
            <a href="https://github.com/sora-yyds/">{% fa_svg fab.fa-github %} GitHub </a>
            </li>
            <li>
            <a href="https://space.bilibili.com/452826708">{% fa_svg fab.fa-bilibili %} Bilibili</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 {% if page.legacy %}col-4{% else %}col-12{% endif %}">
        {% if site.sponsor %}
        <h4 class="mt-0">Sponsor</h4>
        <div class="img-responsive thuhidden">
        {% for sponsor in site.sponsor %}
        <img src="/static/img/{{ site.sponsors[sponsor].logo }}.svg" alt="{{ site.sponsors[sponsor].short }}" />
        <!-- <img src="/static/img/{{ site.sponsors[sponsor].logo2 }}.png" srcset="/static/img/{{ site.sponsors[sponsor].logo }}.png 1x, /static/img/{{ site.sponsors[sponsor].logo }}@2x.png 2x, /static/img/{{ site.sponsors[sponsor].logo }}@3x.png 3x, /static/img/{{ site.sponsors[sponsor].logo }}@4x.png 4x" alt="{{ site.sponsors[sponsor].short }}" /> -->
        {% endfor %}
        </div>
        {% assign first_sponsor = site.sponsors[site.sponsor.first] %}
        <p class="thuhidden">本存储服务器由<a href="{{ first_sponsor.link }}">{{ first_sponsor.name }}</a>（{{ first_sponsor.eng }}）赞助{% if site.poweredby %}，并由{{ site.poweredbys[site.poweredby] }}强力驱动{% endif %}。感谢
        {% for sponsor in site.sponsor %}
        {{ site.sponsors[sponsor].short }}
          {% if forloop.rindex0 == 1 %}
          和
          {% elsif forloop.rindex0 > 1 %}
          、
          {% endif %}
        {% endfor %}
        提供技术支持。</p>
        {% endif %}
      </div>
    </div><!--/row -->
  </div><!--/container -->
</div><!--/footerwrap -->

{% fa_svg_generate %}
